<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huyn.demogroup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".BaseApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".relativetop.RelativeTopActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".emoji.EmojiActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />
        <activity android:name=".photo.PhotoMainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait" />
        <activity android:name=".photo.PhotoPickerActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".event.TestEventDeliveryActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".anim.ThreeDRotateActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="landscape"
            android:theme="@style/customTheme" />
        <activity android:name=".sensor.RotationVectorDemo"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".opengl.TutorialPartOne"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".paint.PaintShaderActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".paint.CardViewActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".paint.TestWebViewActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".particle.ParticleEffectsActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".particle.ExplosionFieldActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".particle.LeonidsFireworksActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".clipchild.ClipChildAnimActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".paint.TestStripeAnimActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="landscape"
            android:theme="@style/customTheme" />
        <activity android:name=".infinitecycleviewpager.screens.InfiniteCyclerViewPagerActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".zoomageview.ZoomageViewActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".bitmapshader.BitmapShaderActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="landscape"
            android:theme="@style/customTheme" />
        <activity android:name=".crop.CropActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".seekbar.SeekSampleActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".scale.ScaleDemoActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".bahavior.BehaviorActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".bahavior.EasyBehaviorActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".rectscale.RectScaleActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".mask.TestMaskActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".leaveblank.LeaveBlankActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".freechild.FreeChildActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".pathcrop.PathCropActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".lottie.LottieActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".drawbitmap.DrawbitmapActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".pulltodismiss.PullToDismissActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".outline.OutlineActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".glassbreak.BreakGlassActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".poplayout.BubblePopupActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".perspective.PerspectiveActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".shadow.ShadowActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".video.VideoEncodeAndDecodeExampleActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
        <activity android:name=".bahavior.SnapBehaviorActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />
    </application>

    <permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.sensor.campass" android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope" android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer" android:required="true" />

</manifest>